@model Pie

<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImageUrl">
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price.ToString("c")</h3>
        <h3>
            <a href="#">@Model.Name</a>
        </h3>
        <h4>@Model.ShortDescription</h4>
        <p>@Model.LongDescription</p>
        <div class="row">
         <div class="col-lg-6">
             <p class="button">
                 <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pieId="@Model.PieId">Add to cart</a>
             </p>
         </div>
          <div class="col-md-pull-1 pull-right" style="padding-right:15px;">
              <button class="btn btn-info" id="back-button">Back to previous page</button>
          </div> 
        </div>
    @*<div class="pull-right">
        
    </div>*@
</div>